* {
    margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Roboto";
	src:url(../fonts/Roboto-Regular.ttf);
}

body {
	background-image: url("../img/photo-1484480974693-6ca0a78fb36b.jpg");
	background-repeat: no-repeat;
	font-family: "Roboto";
}


.centro { 
	width: 70%;
	width: 25%;
	margin: auto;
	overflow: auto;
}

.cabecalho {
	margin-top: 25%;
	width: 100%;
    border-collapse: collapse;
    background-color: #3a80bc;
	color: #f7f7f7;
}

.corpo {
	width: 100%;
    border-collapse: collapse;
    background-color: #f7f7f7;
	color: #f7f7f7;
}

input {
	color: #a9a9a9; 
	border: none;
	width:100%;
	height:100%;
	background: none; 
	font-family: "Roboto";
	font-size: 17px;
	background-size: 30px;
}

li {
	color: black;
	list-style: none;
	font-family: "Roboto";
	font-size: 25px;
	background-size: 30px;
	margin-bottom: 10px;
}

.btn {
	float: right;
	border: none;
	cursor:pointer;
	border: none;
	background: none; 
}

#msg, #testo{
	padding-top: 2%;
	padding-bottom: 2%;
	word-break: break-all;
}

#msg {
	margin-top: 1%; 
	margin-left: 5%;
	margin-bottom: 5%;
}

h1 {
	margin-top: 1%; 
	margin-left: 2%;
}

